<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- <meta property="og:url" content="https://tryitands.ee/" /> -->
    <meta property="og:video" content="{{ url }}" />
    <meta
      property="og:video:secure_url"
      content="{{ url }}"
    />
    <meta property="og:video:type" content="{{ content_type }}" />
    <meta property="og:type" content="video.other" />
    <!-- <meta property="title" content="{{ title }}" /> -->
  </head>
  <body></body>
</html>
